#!/usr/bin/make -f

PRG=chimerascan
VER=0.4.5
BIN_LIST=chimerascan_html_table.py \
         chimerascan_index.py \
         chimerascan_run.py \
         gtf_to_genepred.py \
         make_false_positive_file.py
PKG=$(PRG)$(VER)
DEB_DIR=debian/$(PKG)
PKG_LIB_DIR=/usr/lib/$(PKG)
BIN_WRAPPER=\
'\#!/bin/sh\n'\
'export PATH=$(PKG_LIB_DIR)/bin:$$PATH\n'\
"exec $${BASE_BIN}" '"$$@"'

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(DEB_DIR)/usr/bin $(DEB_DIR)$(PKG_LIB_DIR)/bin
	python setup.py install --prefix=$(DEB_DIR)$(PKG_LIB_DIR)
	for BIN in $(BIN_LIST); do \
		BASE_BIN=$$(basename $${BIN});\
		install -m 755 $${BIN} $(DEB_DIR)$(PKG_LIB_DIR)/bin/$${BASE_BIN};\
		echo $(BIN_WRAPPER) | sed 's/^ *//' > $(DEB_DIR)/usr/bin/$${BASE_BIN}$(VER);\
	done

override_dh_strip:
	echo "Do not create a *dbgsym*.ddeb package."
